.ItemCard {
    width: 270px;
    max-height: 270px;
    border-radius: 12px;
    border: 1px solid #ECECEE;
    margin: 0 10px 20px 10px;
    position: relative;
}

.ItemCard img {
    max-width: 270px;
    height: 180px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.productName {
    padding: 10px 0 0 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.status {
    position: absolute;
    bottom: 100px;
    right: 10px;
    width: 74px;
    height: 25px;
    border-radius: 12px;
    text-align: center;

    background-color: #FEF4E6;
    color: #F79009;
}

.delete img {
    width: 24px;
    height: 24px;
}