.imageAndText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 330px;
    height: auto;
}

.imageAndText button {
    margin: 10px;
}

.imageAndText h3 {
    margin: 30px 0 10px;
}

.productImage img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.total {
    border: 1px solid #ECECEE;
    width: 320px;
    max-height: 140px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #CFCFCF;
}