.addNewProduct {
    border: 1px solid #ECECEE;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addNewProduct img {
    width: 40px;
    height: 40px;
}

.addNewProduct a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}