.signUp {
    display: flex;
    height: 100vh;
}

.login {
    width: 400px;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Info {
    margin: 20px 70px;
    padding: 40px 20px;
    background-color: #F4F4F4;
    border-radius: 12px;
    flex: 1;
}

.logo {
    width: 40px;
    height: 40px;
}

.mainImage {
    max-width: 450px;
    height: 280px;
    z-index: 100;
    position: relative;
}

.mainImageContainer {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.leftImage {
    width: 110px;
    height: 130px;
    z-index: 1;
    position: absolute;
    left: 70px;
    bottom: -40px;
}

.rightImage {
    width: 110px;
    height: 130px;
    z-index: 1;
    position: absolute;
    right: 70px;
    bottom: -40px;
}

.groupImage {
    width: 150px;
    height: 40px;
}

.formWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}